<div class="container-xl">


<div *ngIf="product; else noProduct" class=".container-lg " style="display: flex; margin-top: 50px" >
<div class="card mb-3" style="max-width: 540px; display: flex">

  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="..." class="card-img" alt="..." style="min-height: 320px">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{product.name | uppercase}}</h5>
        <table class="table table-borderless">
          <tbody>
          <tr>
            <th scope="row">Opis:</th>
            <td>{{product.description}}</td>
          </tr>
          <tr>
            <th scope="row">Kategoria:</th>
            <td>{{product.category}}</td>
          </tr>
          <tr>
            <th scope="row">Cena:</th>
            <td>{{product.price}}</td>
          </tr>
          <tr>
            <th scope="row">Ilość dostępnych:</th>
            <td>{{product.unitsInStock}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="card-body">
    <button class="btn btn btn-success  " style="float: right" (click)="addProductToCart(product)">Dodaj do koszyka</button>
  </div>
</div>
</div>
<div class="card-body">
  <button class="btn btn-secondary" routerLink="/products">Powrót</button>
</div>
  <ng-template #noProduct>
    <h1> Brak produktu</h1>
  </ng-template>
</div>
