<app-menu></app-menu>

<div class="container-xl">
<div *ngIf="product; else noProduct" class=".container-lg " style="display: flex; margin-top: 50px" >
<div class="card mb-3" style="max-width: 960px; display: flex">

  <div class="row no-gutters">
    <div class="col-md-6">
      <img src="http://localhost:7776/images/products/{{product.productId}}.jpg" class="card-img" alt="..." style="min-height: 359px; width: 332px">
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <h5 class="card-title">{{product.name | uppercase}}</h5>
        <table class="table table-borderless">
          <tbody>
          <tr>
            <th scope="row">Description:</th>
            <td>{{product.description}}</td>
          </tr>
          <tr>
            <th scope="row">Category:</th>
            <td>{{product.category}}</td>
          </tr>
          <tr>
            <th scope="row">Price:</th>
            <td>{{product.price | currency:'EUR':'symbol' : '1.2-2' }}</td>
          </tr>
          <tr>
            <th scope="row">Units in stock:</th>
            <td>{{product.unitsInStock}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="card-body">
    <button class="btn btn btn-success  " style="float: right" (click)="addProductToCart(product)">Add to cart</button>
  </div>
</div>
</div>
<div class="card-body">
  <button class="btn btn-secondary" routerLink="/products">Go back</button>
</div>
  <ng-template #noProduct>
    <h1> Product unavalible</h1>
  </ng-template>
</div>
