<app-menu></app-menu>

<div class="container" style="max-width: 500px">
  <div class="card m-3" style="max-height: 50px" *ngIf="loginSuccess">
    <div class="col-xs-12">
      <p class="alert alert-success">
        <strong>Login Success!</strong>

      </p>
    </div>
  </div>
  <div class="card m-3"  [hidden]="loginSuccess">
    <h5 class="card-header text-center">Login form</h5>
    <div class="card-body">
      <form>
        <div class="alert alert-warning" *ngIf='invalidLogin'>{{errorMessage}}</div>
        <div class="form-group ">
          <label for="username">User Name:</label>
          <input type="text" class="form-control" id="username" [(ngModel)]="username"
                 name="username">
        </div>
        <div class="form-group ">
          <label for="password">Password:</label>
          <input type="password" class="form-control" [(ngModel)]="password" id="password"
                 name="password">
        </div>
        <div class="text-center">
          <button class="btn btn-success mr-1" (click)="handleLogin()">Login</button>
          <button class="btn btn-danger" type="reset">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>

