<nav class="nav nav-pills nav-fill">
    <a class="nav-item nav-link " style="  position: relative">
      <a [routerLink]="['/']" style=" margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%)"> Strona główna </a></a>
    <a class="nav-item nav-link"
           *ngIf="!isLoggedIn" href="/login">Logowanie
          <a class="nav-item nav-link " [routerLink]="['/register']">Rejestracja</a>
    </a>
    <a class="nav-item nav-link"
    *ngIf="isLoggedIn"  href="/logout" (click)=handleLogout()>Logout</a>
    <a class="nav-item nav-link ">
      <app-cart [routerLink]="['/cartDetails']">
      </app-cart>
    </a>
  </nav>
