<!--<div class="navbar navbar-inverse bg-inverse">-->
<!--  <a class="navbar-brand">SKLEP SPORTOWY STORE</a>-->
<!--</div>-->
<!--<div *ngIf="orderSent" class="m-a-1 text-xs-center">-->
<!--  <h2>Dziękujemy!</h2>-->
<!--  <p>Dziękujemy za złożenie zamówienia.</p>-->
<!--  <p>Produkty zostaną wysłane jak najszybciej.</p>-->
<!--  <button class="btn btn-primary" routerLink="/store">Powrót do sklepu</button>-->
<!--</div>-->
<!--<form *ngIf="!orderSent" #form="ngForm" novalidate>-->
<!--&lt;!&ndash;      (ngSubmit)="submitOrder(form)" class="m-a-1"&ndash;&gt;-->
<!--&lt;!&ndash;&gt;&ndash;&gt;-->
<!--  <div class="form-group">-->
<!--    <label>Imię i nazwisko</label>-->
<!--    <input class="form-control" #name="ngModel" name="name"-->
<!--           [(ngModel)]="order.name" required />-->
<!--    <span  *ngIf="submitted && name.invalid" class="text-danger">-->
<!--            Proszę podać imię i nazwisko.-->
<!--        </span>-->
<!--  </div>-->
<!--  <div class="form-group">-->
<!--    <label>Adres</label>-->
<!--    <input class="form-control" #address="ngModel" name="address"-->
<!--           [(ngModel)]="order.address" required />-->
<!--    <span  *ngIf="submitted && address.invalid" class="text-danger">-->
<!--            Proszę podać adres.-->
<!--        </span>-->
<!--  </div>-->
<!--  <div class="form-group">-->
<!--    <label>Miejscowość</label>-->
<!--    <input class="form-control" #city="ngModel" name="city"-->
<!--           [(ngModel)]="order.city" required />-->
<!--    <span  *ngIf="submitted && city.invalid" class="text-danger">-->
<!--            Proszę podać miejscowość.-->
<!--        </span>-->
<!--  </div>-->
<!--  <div class="form-group">-->
<!--    <label>Województwo</label>-->
<!--    <input class="form-control" #state="ngModel" name="state"-->
<!--           [(ngModel)]="order.state" required />-->
<!--    <span  *ngIf="submitted && state.invalid" class="text-danger">-->
<!--            Proszę podać województwo.-->
<!--        </span>-->
<!--  </div>-->
<!--  <div class="form-group">-->
<!--    <label>Kod pocztowy</label>-->
<!--    <input class="form-control" #zip="ngModel" name="zip"-->
<!--           [(ngModel)]="order.zip" required />-->
<!--    <span  *ngIf="submitted && zip.invalid" class="text-danger">-->
<!--            Proszę podać kod pocztowy.-->
<!--        </span>-->
<!--  </div>-->
<!--  <div class="form-group">-->
<!--    <label>Kraj</label>-->
<!--    <input class="form-control" #country="ngModel" name="country"-->
<!--           [(ngModel)]="order.country" required />-->
<!--    <span  *ngIf="submitted && country.invalid" class="text-danger">-->
<!--            Proszę podać kraj.-->
<!--        </span>-->
<!--  </div>-->
<!--  <div class="text-xs-center">-->
<!--    <button class="btn btn-secondary" routerLink="/cartDetails">Powrót</button>-->
<!--    <button class="btn btn-primary" type="submit">Złóż zamówienie</button>-->
<!--  </div>-->
<!--</form>-->
