<app-menu></app-menu>
<div class="container" style="max-width: 500px">
  <div class="card m-3"  *ngIf="showMsg">
    <div class="col-xs-12">
      <p class="alert alert-success">
        <strong>Your order has been created.</strong> Thank you for shopping!

      </p>
    </div>
  </div>
  <div class="card m-3"  [hidden]="showMsg">
<div class="container-md">
  <div class="m-a-1" style="margin: 50px">
    <h2 class="text-xs-center">Do you want create order?</h2>

<div class="text-xs-center">
  <button class="btn btn-success"  (click)="sendOrder()"
          [disabled]="cartservice.items.length == 0  " >
    Confirm</button>

  <button class="btn btn-danger" routerLink="/" (click)="cartservice.clear()">Cancel</button>

</div>

  </div>

</div>
    <div class="card-body">
      <button class="btn btn-secondary" routerLink="/cartDetails">Back to cart</button>
    </div>
  </div>
</div>
